################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InventoryServ/bin
/InventoryServ/obj/Debug
/storageUniversal/bin/x86/Debug
/storageUniversal/obj
/WebServ1/bin
/WebServ1/obj/Debug
